
::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    background: transparent;
    transition: 0.4s all 0.2s var(--ease);
    cursor: default;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

input, button {
    outline: none;
    border: none;
}

input:active {
    outline: none;
    border: none;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.self.centered {
    display: flex;
    align-items: center;
    justify-content: center;

    height: inherit;
    width: inherit;
}
