
* {
    margin: 0;
    padding: 0;
    background: transparent;
    transition: inherit;
    font-smoothing: antialiased;
}

body {
    background: #B9B9B9;
}

.animatable {
    transition: all 0.2s ease;
}

.v-align {
    height: inherit;
    display: flex;
    align-items: center;
}
