
.header-fixed {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 50px;
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.7);
}
.newnews-logo {
    display: block;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    color: #5d5d5d
}
.header-list {
    list-style-type: none;
    height: 50px;
    overflow: hidden;
}
.menu-button {
    width: 50px;
    height: 50px;
    left: 0px;
    background: #171717;
    display: block;
    padding: 0px;
}
.menu-icon {
    position: relative;
    width: 22px;
    height: 2px;
    margin: 5px;
    background: white;
    transition: 0.3s;
}
